* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;

  font-family: 'Poppins', sans-serif;

  background-color: hsl(0, 0%, 98%);

  padding: 1rem 10rem 0;
}

header {
  width: 100%;

  text-align: center;
}

svg {
  float: right;

  margin-top: 2rem;
  margin-right: 0.25rem;
}

.title {
  font-size: 1.85rem;
  font-weight: 200;

  color: hsl(229, 6%, 66%);
}

.title > span {
  font-weight: 600;

  color: hsl(234, 12%, 34%);
}

.description {
  font-weight: 400;

  max-width: 23rem;
  margin: 0 auto;
  padding-top: 1rem;

  color: hsl(229, 6%, 66%);
}

main {
  width: 100%;
  height: auto;
  flex-direction: row;
  display: flex;

  padding: 2rem 3rem 1rem 3rem;

  justify-content: center;
  align-items: center;
}

.card-contander:nth-child(2) {
  margin-top: 1.5rem;
}

.card-container {
  width: 18rem;
}

.card-title-sup,
.card-title-tea,
.card-title-kar,
.card-title-cal {
  font-size: 1.15rem;
  font-weight: 600;

  padding-top: 1.75rem;
  padding-left: 3rem;

  border-radius: 0.25rem;

  color: hsl(234, 12%, 34%);
}

.card-title-sup {
  border-top: 0.25rem solid hsl(180, 62%, 55%);
}

.card-title-tea {
  border-top: 0.25rem solid hsl(0, 78%, 62%);
}

.card-title-kar {
  border-top: 0.25rem solid hsl(34, 97%, 64%);

  margin-top: 2rem;
}

.card-title-cal {
  border-top: 0.25rem solid hsl(212, 86%, 64%);
}

.card-description {
  font-size: 0.725rem;
  font-weight: 400;

  padding: 0.5rem 3rem 7rem;
  box-shadow: 0 10px 5px -4px hsl(229, 6%, 66%);

  color: hsl(229, 6%, 66%);
}

.card-column {
  padding: 2rem 1rem;
}

@media only screen and (max-width: 950px) {
  main {
    flex-direction: column;
    display: flex;

    align-items: stretch;

    padding: 2rem;
  }

  .card-container {
    width: auto;
  }

  .card-column {
    padding: 0;

    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .card-title-kar {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 570px) {
  body {
    padding: 5rem 1rem;
  }

  main {
    flex-direction: row;
    display: grid;

    padding: 3rem;
  }

  .card-column {
    padding: 0;

    margin-bottom: 0;
    margin-top: 0;
  }

  .card-description {
    margin-bottom: 0;
  }

  .card-title-cal {
    margin-top: 2rem;
  }

  .card-title-tea {
    margin-top: 2rem;
  }
}
